.env
notebooks/.ipynb_checkpoints/
notebooks/.virtual_documents/
notebooks/anaconda_projects/
.idea/
.ipynb_checkpoints
anaconda_projects
.virtual_documents
data/generated-dataset/households.xlsx
data/generated-dataset/energy_consumption.xlsx
notebooks/__pycache__/
notebooks/.virtual_documents/Phase1_Data_Generation_DB.ipynb
dashboard/__pycache__/